<h1 class="table text-center">Productos Cargados</h1>

{{#if products.length}}
    <div class="table-responsive">
        <table class=" table table-striped">
            <tr style="font-size: 25px;">
                <th >Nombre</th>
                <th >Precio</th>
                <th >Imagen</th>
            </tr>
    {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img width="50" src={{this.thumbnail}} alt={{this.id}}></td>
            </tr>
    {{/each}}
        </table>
    </div>
    {{else}}
<h3> Aún no hay productos cargados</h3>
{{/if}}